
body{
    font-family: 'Montserrat';
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
}

#title h1{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation bar */

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0px 18px ;
}

/* download button  */

.Download-button{
    margin: 5% 3% 5% 0%;
}

.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
    

}

@media (max-width:1014px ) {
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }

    #title{
        text-align: center;
    }
}

/* featuer section  */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;  /*    its optional */
}

.feature-element{
    padding: 5%;
}

#features h3{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 900;
}

#features p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    padding-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


/* testimonials section  */

#testimonials{
    text-align: center;
    background-color: #ef8172;
}

#testimonials img{
    width: 7%;
    border-radius: 100%;
    margin-right: 1rem;
}

#testimonials h2{
    font-weight: 700;
    padding: 0px;
    padding-bottom:1rem ;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 7%;
}

#press img{
    width: 15%;
    margin: 2%;
}

.carousel-item{
    padding: 7% 15%;
}

/* pricing section  */

#pricing{
    text-align: center;
    padding: 7% 5%;
}

#pricing .pricing-column{
    padding: 5%  3%;
}

.card .btn{
    width: 100%;
}



/* call to action section  */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

#cta h3{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: 700;
    color:#fff;
    line-height: 1.5;
    padding-bottom: 2rem;
}

#cta .btn{
    margin:  0px 12px 20px;

}


/* footer  */

#footer{
    text-align: center;
    padding: 8% 15% 20%;
}

.footer-logo{
    padding: 3%;
}


.footer-logo:hover {
    cursor: pointer;
}

